body {
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
 	background-image: url("https://scontent-yyz1-1.cdninstagram.com/vp/f6c236d6c553185547f1259d2173b4db/5B27E6EE/t51.2885-15/e35/19623606_1928649774049713_6270857500057141248_n.jpg");
  background-size: cover;
}

h1 {
	
  font-family: Palatino, 'Palatino Linotype', serif;
	color:#ffffff;
}

h2 {
	font-size: 23px;
}




p {
  font-size: 1rem;

}

.main a {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
}

.main {
  font-size:30px;
  color:white;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-align:center;
}

#footer {
  font-size: 1rem;
}

